.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
/omnipathr-log/
Supplemental_table1.xlsx
### Ignore folders
/data/omics/
/data/sample_sheets/
/data/20260817_RR1296_PCF
/data/20260813_RRS_1296_PCF_Phospho
/output/
/projects/

### Ignore Scripts which were not used in Paper
/utils/copro.R
/utils/run_pathview_in.R

/R/analysis/20260512_RRS_1269_PCF_Phospho
/R/deprecart
/R/analysis/Diagnsosis_SampleP07P13.R
/R/analysis/make_Networkin_dbrds.R
/R/analysis/WP_CNV_INF_20260817_RR1296_PCF.R